@use "poly-fluid-sizing" as pfz;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
#header {
  > div {
    a {
      width: 7em;
      img {
        width: 7em;
      }
    }
  }
}

.dropdown:hover > div {
  display: block;
}

.dropdown:hover > button {
  background-color: #3e8e41;
}

* {
  @include pfz.poly-fluid-sizing(
    "font-size",
    (
      320px: 12px,
      768px: 14px,
      1024px: 16.5px,
      1440px: 19.5px,
      1920px: 22px,
    )
  );
}
small {
  * {
    font-size: inherit !important;
  }
}

a {
  font-size: 1.1rem;
}

p {
  font-size: 1.25rem;
  a {
    font-size: inherit;
  }
}

h6,
.h6 {
  font-weight: 200;
  font-size: 1.35rem;
}
h5,
.h5 {
  font-weight: 300;
  font-size: 1.45rem;
}
h4,
.h4 {
  font-weight: 400;
  font-size: 1.6rem;
}
h3,
.h3 {
  font-weight: 600;
  font-size: 1.8rem;
}
h2,
.h2 {
  font-weight: 700;
  font-size: 2rem;
}
h1,
.h1 {
  font-weight: 900;
  font-size: 2.25rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
