---
  const fs = await import("fs");
  const spa = fs.readFileSync("public/spafy.js")
  import Header from './Header.astro'
  const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/astro.css">
    <style global lang="scss">
      @use "../../public/astro.scss";
    </style>
    <title>Travel Guru | {title}</title>
</head>
<body>
    <Header />
    <main id="root">
      <slot></slot>
    </main> 
</body>
{`<script>${spa}</script>`}
</html>

